<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple CRUD App</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Custom CSS -->
    <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <h1 class="text-center mb-4">Task Manager {{ app_name }}</h1>
        <form action="/add" method="POST" class="mb-3">
            <div class="input-group">
                <input type="text" name="content" id="content" class="form-control" placeholder="Add a new task">
                <div class="input-group-append">
                    <button type="submit" class="btn btn-primary">Add Task</button>
                </div>
            </div>
        </form>
        <ul class="list-group">
            {% for task in tasks %}
                <li class="list-group-item">
                    {{ task.content }}
                    <button onclick="location.href='/update/{{ task.id }}'" class="btn btn-secondary">Update</button>
                    <button onclick="location.href='/delete/{{ task.id }}'" class="btn btn-danger">Delete</button>
                </li>
            {% endfor %}
        </ul>
    </div>
    <!-- Bootstrap JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!-- Custom JavaScript -->
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
