body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
    margin-top: 20px;
}

.container {
    width: 80%;
    margin: auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,.05);
}

h1 {
    color: #333;
}

.input-group {
    margin-bottom: 20px;
}

.list-group-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-secondary, .btn-danger {
    margin-left: 10px;
}
